<center>
<h1> Modification</h1>
{{ form_start(form) }}
    lib:    {{ form_widget(form.lib) }}  <br>
 pays:   {{ form_widget(form.pays) }} <br>
    <button name="add" type="submit">Update</button>

    {{ form_end(form) }}
</center>